---
import { Image } from "astro:assets";
import RedirectIcon from "../assets/shop-redirect-icon.svg";
import RedirectIconMd from "../assets/shop-redirect-icon-md.svg";
const { name = "Shukmani Gambhir", image_url = "", index= 1 , id="Shukhmani Gambhir"} = Astro.props;
const isEven = (index + 1) % 2 == 0;
---

<div class=`flex items-center ${isEven ? "flex-row-reverse": ""}`>
  <div class="rounded-full border-4 border-dark-pink w-[77px] h-[77px] overflow-hidden z-30">
    <img src={image_url} loading="lazy" width="77" height="77" />
  </div>
  <div class=`${isEven ? "-mr-[20px] pr-[10px]":"-ml-[20px] pl-[20px]"} bg-dark-pink rounded-full`>

    <a
    href={`/#${id}`}
    class="px-3 py-[6px] drop-shadow-xl flex gap-1 text-semi-bold w-max items-center"
    
  >
    {name}
    <span class="block md:hidden w-min-4 h-min-4">
      <Image
        src={RedirectIcon}
        alt="redirect-icon"
        height={24}
        width={24}
      />
    </span> 
    <span class="hidden md:block w-min-4 h-min-4">
      <Image src={RedirectIconMd} alt="redirect-icon" />
    </span>
  </a>
  </div>
</div>
