---
import { Image } from "astro:assets";
import PersonLandingImage from "../content/images/boho-title-image.svg";

interface Props {
  name?: string;
  description?: string;
  total_followers?: string;
  social_media_handle?: string;
  image_url: any;
}

const {
  name,
  total_followers = "1.8M Followers",
  description = "I believe that fashion is a way to express yourself and have fun, so I'm not afraid to experiment with different trends and styles.",
  social_media_handle = "thatbohogirl",
  image_url = "",
} = Astro.props;
---

<section class="self-stretch flex flex-col max-md:max-w-full">
  <header
    class="bg-section-red self-stretch flex flex-col bg-hero-pattern bg-cover"
  >
    <div
      class="self-center items-end flex max-w-[511px] w-full gap-[50px] min-h-[400px]"
    >
      <div class="flex flex-col h-full pb-[38px] max-w-[210px] w-full">
        <div class="flex flex-col">
          <p class="text-text-pink text-[17px] w-full max-w-14">
            {description}
          </p>
          <p class="text-white-follower text-lg w-full mt-[14px]">
            {total_followers}
          </p>
          <h1
            class="text-white-follower text-xl font-bold mt-[6px] font-followers"
          >
            @{social_media_handle}
          </h1>
        </div>
      </div>
      <div class="flex flex-col-reverse items-stretch w-auto">
        <Image src={image_url} alt=`${name} image` width="260" height="360" />
      </div>
    </div>
  </header>
</section>
